.item-list {
    background-color: lightgray;
}

#price-list{color: darkslateblue;}

.padding{
    border: 2px solid red;
    margin: 500px 500px 500px 500px
    padding: 20px 20px 20px 20px
}

body{
    background-color: lightblue;
}


p{
    font-family: sans-serif, monospace, serif;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
}

dt{
    font-weight:bold;
    font-size: 25px;
}

#price-list{
    height: 50px;
    width: 50%;
    background-color: rgb(253, 253, 253);
    text-align: center;
}

.padding li:nth-child(1){
    border-style: double;
}

.padding li:nth-child(2){
    border-style: ridge;
}

.padding li:nth-child(3){
    border-style: groove;
}
